* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #333;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self: flex-end;
}

footer {
    position: relative;
    background: #3586ff;
    width: 100%;
    min-height: 100px;
    height: 100px;
    padding: 20px 50px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    bottom: -2000px;

}

footer ul {
    display: flex;
    justify-content: center;
}

footer ul li {
    list-style: none;
}

footer .footer-icons {
    height: 48px;
    object-fit: contain;
    margin: 0 20px;
    z-index: -10;
    transition: all ease-out 150ms;
}

footer .footer-icons:hover {
    transform: translateY(-8px);
}

footer .footer-link {
    margin: 0 20px;
    text-decoration: none;
    font-size: 24px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.25px;
    transition: all ease-in 150ms;
}

footer li:hover,
.footer-link:hover {
    transform: scale(1.05);
}

footer .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(img/wave2.png);
    background-size: 1000px 100px;
    opacity: 1;
}

footer #wave1 {
    z-index: 1000;
    opacity: 3;
    bottom: 0;
    animation: animatedWave 3s linear infinite;
}

footer #wave2 {
    z-index: 999;
    opacity: 0.75;
    bottom: 10px;
    animation: animatedWave_02 3s linear infinite;
}

footer #wave3 {
    z-index: 998;
    opacity: 0.5;
    bottom: 20px;
    animation: animatedWave 3s linear infinite;
}

footer #wave4 {
    z-index: 1000;
    opacity: 0.25;
    bottom: 30px;
    animation: animatedWave_02 2s linear infinite;
}

@keyframes animatedWave {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-position-x: 0;
    }
}

@keyframes animatedWave_02 {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 1000px;
    }
}

.slider {
    position: relative;
    width: 300px;
    height: 200px;
    transform-style: preserve-3d;
    animation: rotate 30s linear infinite;
    margin-top: -200px;
    left: -100px;

}

@keyframes rotate {
    0% {
        transform: perspective(1000px) rotateY(0deg);

    }

    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}

.slider span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(350px);
}

.slider span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 170%;
    height: 200%;
    border-radius: 100%;
    object-fit: cover;
    transition: 2s;
    padding: 0 70px 100px;

}

.slider span:hover img {
    transform: translate(-50px) scale(1.2);
}

.slider {
    margin-left: 1000px;
    margin-top: 200px;
}


.text {
    z-index: 222;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    padding: 40px;
    /* max-width: 100px; */
    height: 200px;
    width: 500px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    /* transform: translate(-80px, 50px); */
    margin-right: 200px;
    margin-bottom: -250px;
}

.text p {
    font-size: 50px;
    margin-bottom: 70px;
    color: rgb(226, 218, 218);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    /* color: transparent; */
    -webkit-text-stroke: 2px#fff;
    font-weight: bold;
    /* background: url(img/purplebackground3.png); */
    -webkit-background-clip: text;
    margin-left: -50px;

}


.container {
    padding: 30rem;
}

.slider-wraper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
    /* margin-bottom: 500px; */


}


.sliderw {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
    margin-top: 200px;
}

.sliderw img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;


}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: -133rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;


}

.slider-nav a {

    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
    margin-top: 1200px;


}

.slider-nav a:hover {
    opacity: 1;

}

.container1 {
    position: relative;
    width: 50%;
    height: 90vh;
    background: #02384d;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1570px;
    bottom: -1700px;
    margin-left: 500px;

    /* box-shadow: 40px 40px rgba(242, 244, 245, 0.443); */
    box-shadow: 30px 30px 15px rgb(26, 26, 26);
    border-radius: 80px;


}


.item {
    width: 100%;
    height: 550px;
    max-width: 820px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, .4);
    overflow: hidden;
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    z-index: 1000;
}

.contact {
    background: rgb(252, 252, 252);
    height: 550px;

}

.subform {
    /* background: rgb(20, 57, 65); */
    background: #043244;



}

.ftext {

    padding-left: 20px;
    padding-top: 20px;
    font-size: 50px;
    color: rgb(6, 44, 55);
    font-family: 'Oswald', sans-serif;
    text-align: justify;
    margin-top: 150px;

}

.pic1 {
    height: 600px;
    width: 300px;
}

.ttext {
    font-size: 25px;
    position: relative;
    top: 20px;
    left: 20px;
    padding-bottom: -500px;
    color: #fff;
    font-weight: bold;

}

form {
    padding: 0 50px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    /* opacity: 0.1; */
}

.inputbox {
    height: 40px;
    width: 70%;
    margin: 30px 0;
    position: relative;
}

.input {
    width: 130%;
    height: 100%;
    background: transparent;
    border: 2px solid white;
    border-radius: 20px;
    outline: none;
    padding-left: 10px;
    color: white;
    font-size: 16px;

}

.inputbox label {
    position: absolute;
    top: 50%;
    left: 10px;
    padding-left: 10px;
    transform: translateY(-50%);
    font-size: 15px;
    font-weight: 500;
    color: white;
    transition: .3s;

}

.inputbox .input:focus~label,
.inputbox .input:valid~label {
    top: -1px;
    left: 10px;
    background-color: rgb(93, 131, 148);
    font-weight: 500;
    font-size: 12px;
    padding: 5px;
}

textarea.input {
    resize: none;
    min-height: 150px;
    overflow: auto;
}

.btn {
    position: relative;
    top: 100px;
    background: #fff;
    outline: none;
    border: none;
    border-radius: 4px;
    height: 45px;
    width: 30%;
    font-size: 16px;
    color: rgb(1, 25, 32);
    cursor: pointer;
    font-weight: bold;

}

.container2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 200px;
    margin-left: 100px;


}

.container2 .progress {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    color: #fff;
    background: #444 linear-gradient(right, transparent 50%, var(--clr) 0);

}

.container2 .progress h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    z-index: 1;
    font-weight: 500;
    margin-left: 7px;
    font-weight: bold;
}

.container2 .progress h3 span {
    font-size: 0.65em;
    font-weight: 400;
}

.container2 .progress h4 {
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    font-weight: 500;
    color: var(--clr);
    text-transform: uppercase;
    font-weight: bold;

}


.container2 .progress::before {
    content: "";
    display: block;
    height: 100%;
    margin-left: 50%;
    transform-origin: left;
    border-radius: 0 100% 100% 0/50%;
}

.container2 .progress::after {
    content: "";
    position: absolute;
    inset: 13px;
    border-radius: 50%;
    background: #222;

}

.container2 .progress::before {
    background: var(--clr);
    transform: rotate(calc(((var(--i) - 50) * 0.01turn)));

}

header {
    background: rgb(0, 0, 0);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 800px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 68% 80%, 0 100%);

}

.wrappert {
    display: flex;

}

.wrappert .static-txt {
    color: #fff;
    font-size: 55px;
    font-weight: 400;

}

.wrappert {
    margin-top: 10px;
    margin-left: 170px;
}

.dynamic-txts {
    margin-top: -8px;

}

.name {
    font-size: 80px;
    color: #fff;
    margin-top: 100px;
    margin-left: 100px;
    font-weight: bolder;
}

.wrappert .dynamic-txts {
    margin-left: 15px;
    line-height: 90px;
    height: 90px;

    overflow: hidden;
}

.dynamic-txts li {
    list-style: none;
    color: #099fb9;
    font-size: 50px;
    font-weight: 500;
    top: 0;
    position: relative;
    animation: slide 12s steps(4) infinite;
    margin-left: 50px;

}

@keyframes slide {
    100% {
        top: -360px;

    }
}


.dynamic-txts li::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    animation: typing 3s steps(20) infinite;
    background-color: black;

}

@keyframes typing {

    40%,
    60% {
        left: calc(100% + 30px);
    }

    100% {
        left: 0;
    }
}

#htext {
    margin-top: 20px;

    text-align: center;
    color: rgb(224, 221, 221);
}

.logo {
    color: rgba(255, 255, 255, 0.829);

    font-weight: 700;
    text-decoration: none;
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    /* margin-bottom: 1000px; */
    margin-right: auto;
}

/* .home{
    margin-top: 50px;
} */

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    /* justify-content: right;
    align-items: right; */

}

.navbar li {
    list-style: none;
    margin-left: 50px;
    font-size: 1.7rem;
    font-family: 'Poppins', sans-serif;
    ;

}

.navbar li a {
    text-decoration: none;
    padding: 8px, 15px;
    color: white;
    border-radius: 50px;

}

.navbar li a:hover,
.navbar li a.page {
    background: rgba(255, 255, 255, 0.829);
    color: #071e38;
    padding: 10px;
    /* width: 200px;
  height: 150px; */
}

.navbar {
    margin-left: 1100px;
    margin-top: -65px;
}

.darklaptop img {
    position: relative;
    z-index: -1;
    /* box-shadow: 20px rgb(12, 12, 12); */
    margin-left: 1200px;
    margin-top: -500px;
    border-radius: 20px;
    border: none;
    height: 50%;
    width: 43%;
    opacity: 0.5;
    box-shadow: 0 10px 10pxrgb(20, 20, 20);

}

#zrlogo {
    position: relative;
    height: 4%;
    width: 4%;
    margin-left: 30px;
    opacity: 0.9;
}


.home {
    margin-top: 20px;
}

.headertext {
    z-index: 222;
    background: rgba(21, 162, 197, 0.301);
    backdrop-filter: blur(50px);
    padding: 40px;
    /* max-width: 100px; */
    height: 150px;
    width: 700px;
    /* border: 1px solid rgba(255, 255, 255, 0.1); */
    border-radius: 10px;
    /* transform: translate(-80px, 50px); */
    margin-left: 70px;
    /* margin-bottom: 500px; */
    /* filter: blur(5px);
    -webkit-filter: blur(0px); */
    margin-top: 70px;
    box-shadow: 15px 15px rgba(19, 114, 138, 0.596);

}

.headertext p {
    font-size: 20px;
    margin-bottom: 70px;
    color: rgb(226, 218, 218);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    /* color: transparent;  */
    /* -webkit-text-stroke: 2px#fff; */
    font-weight: bold;
    /* background: url(img/purplebackground3.png); */
    /* -webkit-background-clip: text;  */
    margin-left: -50px;
    z-index: 2;




}

.about {
    position: relative;
    width: 600px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    margin-left: 100px;
    margin-top: -400px;

}

.about:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: white;
    z-index: -1;
}

.about:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: white;
    z-index: -2;
    filter: blur(40px);
}

.aboutcontent {
    padding: 20px;
    box-sizing: border-box;
    color: white;
    font-size: 20px;
    text-align: justify;
    margin-bottom: 20px;
}

.aboutcontent h1 {
    font-size: 65px;
}

.buttonresume {
    font-size: 16px;
    font-weight: bold;
    background: #d2d6d8;
    width: 160px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(4, 33, 41);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    margin-left: 320px;
    /* margin-top: -100px; */


}

/* .button1{
    margin-top: 100px;
}  */
.buttonresume:active,
.buttonresume:hover,
.buttonresume:focus {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(2.1);
    transform: scale(2.1);

}

.darkgirl img {
    margin-left: 1300px;
    margin-top: 100px;
    height: 600px;
    width: 600px;
    opacity: 5;
    filter: grayscale(70%);
    box-shadow: 30px 30px rgb(120, 123, 124);
}

footer {
    background: rgb(0, 0, 0);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 370px;
    clip-path: polygon(0 0, 50% 40%, 100% 0%, 100% 100%, 0 100%);


}


.iconsocial {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


/* icon css */
.link {
    display: flex;
}

.link a {
    width: 80px;
    height: 80px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
    margin: 0 30px;
    margin-top: 230px;
    margin-left: 100px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s;
}

.link a .fa-brands {
    font-size: 50px;
    line-height: 80px;
    position: relative;
    z-index: 10;
    transition: color 0.5s;
}

.link a::after {
    content: '';
    width: 100%;
    height: 100%;
    top: -90px;
    left: 0;
    /* background: linear-gradient(-45deg, rgb(3, 78, 97), rgb(60, 121, 145)); */
    background: linear-gradient(rgb(3, 45, 56), rgb(36, 26, 68));
    position: absolute;
    transition: 0.5s;
}

.link a:hover::after {
    top: 0;
}

.link a:hover .fa-brands {
    color: black;
}

.link a:hover {
    transform: translateY(-10px);
}

/* project */

.textwrapper {
    z-index: 222;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    padding: 40px;
    /* max-width: 100px; */
    height: 200px;
    width: 800px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    /* transform: translate(-80px, 50px); */
    margin-left: 600px;
    margin-top: -320px;
}

.textwrapper:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: rgb(9, 100, 110);
    z-index: -2;
    filter: blur(40px);
}


.textwrapper:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: rgb(112, 111, 111);
    z-index: -1;
}

.textwrapper:before,
.textwrapper:after {
    background: linear-gradient(235deg, #00bbff, #2095bf, #00bcd4);
}


.textwrapper h3 {
    font-size: 70px;
    margin-bottom: 70px;
    /* color: rgb(226, 218, 218); */
    color: rgb(2, 60, 65);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    /* color: transparent; */
    /* -webkit-text-stroke: 2px#fff; */
    font-weight: bold;
    /* background: url(img/purplebackground3.png); */
    /* -webkit-background-clip: text; */
    margin-left: 40px;

}

.textwrapper p {
    font-size: 30px;
    color: rgb(226, 218, 218);
    text-align: center;
    /* font-weight: bold; */
    /* font-family: 'Rubik', sans-serif; */
    font-family: 'Dosis', sans-serif;
    /* font-family: 'Rubik', sans-serif; */
    margin-top: -50px;
    margin-right: -40px;

}



/* contact */
.textcontact {
    z-index: 222;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    padding: 40px;
    /* max-width: 100px; */
    height: 200px;
    width: 800px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    /* transform: translate(-80px, 50px); */
    margin-left: 100px;
    margin-top: 200px;
}


.textcontact:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: rgb(9, 100, 110);
    z-index: -2;
    filter: blur(40px);
}


.textcontact:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: rgb(112, 111, 111);
    z-index: -1;
}

.textcontact:before,
.textcontact:after {
    background: linear-gradient(235deg, #00bbff, #2095bf, #00bcd4);
}

.textcontact h3 {
    font-size: 70px;
    margin-bottom: 70px;
    /* color: rgb(226, 218, 218); */
    color: rgb(2, 60, 65);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    /* color: transparent; */
    /* -webkit-text-stroke: 2px#fff; */
    font-weight: bold;
    /* background: url(img/purplebackground3.png); */
    /* -webkit-background-clip: text; */
    margin-left: -50px;
    /* margin-top: 500px; */

}

.textcontact p {
    font-size: 30px;
    color: rgb(255, 255, 255);
    /* text-align: center; */
    /* font-weight: bold; */
    /* font-family: 'Rubik', sans-serif; */
    font-family: 'Dosis', sans-serif;
    /* font-family: 'Rubik', sans-serif; */
    margin-top: -50px;
    margin-left: 170px;
}


/* SKill heading */
.textskill {
    z-index: 222;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    padding: 40px;
    /* max-width: 100px; */
    height: 200px;
    width: 800px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    /* transform: translate(-80px, 50px); */
    margin-left: 1100px;
    margin-top: 400px;
}

.textskill:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: rgb(9, 100, 110);
    z-index: -2;
    filter: blur(40px);
}


.textskill:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: rgb(112, 111, 111);
    z-index: -1;
}

.textskill:before,
.textskill:after {
    background: linear-gradient(235deg, #00bbff, #2095bf, #00bcd4);
}

.textskill h3 {
    font-size: 70px;
    margin-bottom: 70px;
    /* color: rgb(226, 218, 218); */
    color: rgb(2, 60, 65);
    font-family: 'Poppins', sans-serif;
    /* text-align: center; */
    /* color: transparent; */
    /* -webkit-text-stroke: 2px#fff; */
    font-weight: bold;
    /* background: url(img/purplebackground3.png); */
    /* -webkit-background-clip: text; */
    margin-left: 240px;
    /* margin-top: 500px; */
}

.textskill p {
    font-size: 30px;
    color: rgb(226, 218, 218);
    /* text-align: center; */
    /* font-weight: bold; */
    /* font-family: 'Rubik', sans-serif; */
    font-family: 'Dosis', sans-serif;
    /* font-family: 'Rubik', sans-serif; */
    margin-top: -50px;
    margin-left: 190px;
}



/* Slider text */


.textslider {
    z-index: 222;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    padding: 40px;
    /* max-width: 100px; */
    height: 200px;
    width: 800px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    /* transform: translate(-80px, 50px); */
    margin-left: 100px;
    margin-top: -170px;
}

.textslider:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: rgb(9, 100, 110);
    z-index: -2;
    filter: blur(40px);
}


.textslider:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: rgb(112, 111, 111);
    z-index: -1;
}

.textslider:before,
.textslider:after {
    background: linear-gradient(235deg, #00bbff, #2095bf, #00bcd4);
}

.textslider h3 {
    font-size: 70px;
    margin-bottom: 70px;
    color: rgb(2, 60, 65);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    /* color: transparent; */
    /* -webkit-text-stroke: 2px#fff; */
    font-weight: bold;
    /* background: url(img/purplebackground3.png); */
    /* -webkit-background-clip: text; */
    margin-right: 40px;
    /* margin-top: 500px; */

}

.textslider p {
    font-size: 30px;
    color: rgb(218, 222, 226);
    text-align: center;
    /* font-weight: bold; */

    /* font-family: 'Rubik', sans-serif; */
    font-family: 'Dosis', sans-serif;
    /* font-family: 'Rubik', sans-serif; */
    margin-top: -50px;
}